.react-chessboard-square {
  display: flex;
  width: 12.5%;
  height: 12.5%;
  justify-content: center;
  align-items: center;

  &--white {
    background-color: #fff;
  }

  &--black {
    background-color: #aaa;
  }

  svg {
    width: 90%;
    height: 90%;
  }
}
